<form class="{{ include.form-class }}" action="https://neuralswarm.us6.list-manage.com/subscribe/post?u=08cbcf9ec2640ac7d531b59c7&amp;id=bbe33897bc" method="post" novalidate>
  <p><em>{{ include.message }}</em></p>
  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_08cbcf9ec2640ac7d531b59c7_bbe33897bc" tabindex="-1" value=""></div>
  <div class="input-group mb-2">
    <input type="email" id="email-newsletter" class="form-control" name="EMAIL" value="" placeholder="Email Address">
    <button type="submit" class="btn border-secondary border-top border-end border-bottom" name="subscribe">Subscribe</button>
  </div>
</form>
