<ul class="share-links list-unstyled m-0">
  <li class="mb-3">
    <a class="link-secondary" href="https://www.linkedin.com/sharing/share-offsite/?url={{ page.url | absolute_url | cgi_escape | escape }}">
      <svg class="svg-icon align-middle" width="16px" height="16px" viewBox="0 0 16 16">
        <use xlink:href="{{ 'assets/images/icons.svg#linkedin' | relative_url }}"></use>
      </svg>
      <span class="align-middle ms-1">Share on LinkedIn</span>
    </a>
  </li>
  <li>
    <a class="link-secondary" href="https://twitter.com/intent/tweet?url={{ page.url | absolute_url | cgi_escape | escape }}&via=neuralswarm">
      <svg class="svg-icon align-middle" width="16px" height="16px" viewBox="0 0 16 16">
        <use xlink:href="{{ 'assets/images/icons.svg#twitter' | relative_url }}"></use>
      </svg>
      <span class="align-middle ms-1">Share on Twitter</span>
    </a>
  </li>
</ul>
