---
layout: default
---

<header class="article-header">
  <div id="splash" class="filter" style="background-image: url('{{ "assets/images/hero.jpg" | relative_url }}')"></div>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="display-5 my-3" itemprop="name headline">Blog</h1>
        <p>Neural Swarm’s latest thinking on creating business value using Artificial Intelligence.</p>
      </div>
    </div>
  </div>
</header>
<section id="blog" class="py-5">
  <div class="container">
    {%- if site.posts.size > 0 -%}
    <div class="row row-cols-1 row-cols-md-2 g-3 g-md-4">
      {%- for post in site.posts -%}
        {%- include post_card.html post=post -%}
      {%- endfor -%}
    </div>
    <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
    {%- endif -%}
  </div>
</section>
