<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="d-flex flex-column min-vh-100" data-bs-spy="scroll" data-bs-target="#nav" data-bs-offset="10" tabindex="0">

    {%- include header.html -%}

    <main>{{ content }}</main>

    {%- include footer.html -%}

    <script src="{{ '/assets/javascript/bootstrap.bundle.min.js' | relative_url }}"></script>

    <script>
      window.addEventListener('scroll', function() {
        var element = document.getElementById('site-header');
        var scrollTop = window.scrollY || window.pageYOffset || document.body.scrollTop || document.documentElement.scrollTop || 0;

        if (scrollTop > 50) {
          element.classList.add('scrolled');
        } else {
          element.classList.remove('scrolled');
        }
      });

      /* Close offcanvas menu when clicking anchor links. */
      const offcanvasLinks = document.querySelectorAll('.offcanvas-body .nav-link');
      Array.prototype.forEach.call(offcanvasLinks, function(offcanvasLink) {
        offcanvasLink.addEventListener('click', event => {
          const offcanvas = document.getElementById('offcanvasNav');
          bootstrap.Offcanvas.getInstance(offcanvas).hide();
        });
      });
    </script>

  </body>

</html>
