<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  {%- if page.layout == 'post' -%}
  <body class="d-flex flex-column min-vh-100" data-bs-spy="scroll" data-bs-target="#toc" data-bs-offset="160" tabindex="0">
  {%- else -%}
  <body class="d-flex flex-column min-vh-100" data-bs-spy="scroll" data-bs-target="#nav" data-bs-offset="60" tabindex="0">
  {%- endif -%}

    {%- include header.html -%}

    <main>{{ content }}</main>

    {%- include footer.html -%}

    <script src="{{ '/assets/javascript/bootstrap.bundle.min.js' | relative_url }}"></script>

    <script>
      window.addEventListener('scroll', function() {
        var element = document.getElementById('site-header');
        var scrollTop = window.scrollY || window.pageYOffset || document.body.scrollTop || document.documentElement.scrollTop || 0;

        if (scrollTop > 50) {
          element.classList.add('scrolled');
        } else {
          element.classList.remove('scrolled');
        }
      });

      /* Close offcanvas menu when clicking anchor links. */
      const offcanvasLinks = document.querySelectorAll('.offcanvas-body .nav-link');
      Array.prototype.forEach.call(offcanvasLinks, function(offcanvasLink) {
        offcanvasLink.addEventListener('click', event => {
          const offcanvas = document.getElementById('offcanvasNav');
          bootstrap.Offcanvas.getInstance(offcanvas).hide();
        });
      });

      /* Offset Scrollspy scrolling */
      const tocLinks = document.querySelectorAll('#toc .nav-link');
      Array.prototype.forEach.call(tocLinks, function(tocLink) {
        tocLink.addEventListener('click', event => {
          event.preventDefault();
          var targetElement = document.getElementById(event.target.getAttribute('href').slice(1));
          var targetElementPosition = targetElement.getBoundingClientRect().top;
          var offsetPosition = targetElementPosition + window.pageYOffset - 112;
          window.scrollTo({top: offsetPosition, behavior: 'smooth'});
        });
      });
    </script>

  </body>

</html>
