---
layout: default
---

<header id="hero">
  <div id="splash" style="background-image: url('{{ "assets/images/hero.jpg" | relative_url }}'); background-position: top center;"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1 class="mb-4">Building the future with Artificial Intelligence</h1>
        <p class="lead">As Artificial Intelligence makes the leap from theory to application, find out how we can help position your company in an Artificial Intelligence future.</p>
        <p class="lead">
          <a href="#services">
            <span>View Services &nbsp;</span> 
            <svg class="svg-arrow" width="16px" height="16px" viewBox="0 0 28 24">
              <use xlink:href="{{ "assets/images/icons.svg#arrow" | relative_url }}"></use>
            </svg>
          </a>
        </p>
      </div>
    </div>
  </div>
</header>
<section id="services" class="bg-dark">
  <div class="container">
    <div class="row mb-4">
      <div class="col">
        <h2 class="mb-4">Services</h2>
        <p class="lead">We focus on applying Artificial Intelligence to accelerate our clients’ core businesses. Our team brings deep, technical expertise, while maintaining a strong business-centric approach: from setting the business context through to a successful adoption within the company.</p>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col">
        <nav class="nav nav-pills lead flex-column flex-md-row">
          <a class="nav-link active" data-bs-toggle="pill" href="#" onclick="slide(0);return false;">For Clients Exploring AI</a>
          <a class="nav-link" data-bs-toggle="pill" href="#" onclick="slide(1);return false;">For Clients Already Using AI</a>
        </nav>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div id="carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row row-cols-1 row-cols-md-2 g-3 g-md-4">
                <div class="col">
                  <div class="card h-100 bg-info border-0 overflow-hidden">
                    <div class="card-body position-relative p-3 p-lg-4">
                      <span class="badge text-secondary">1 hour</span>
                      <svg class="svg-logo mb-3" width="80px" height="80px" viewBox="-1 -1 27 27">
                        <use xlink:href="{{ "assets/images/icons.svg#pitch-deck-slides" | relative_url }}"></use>
                      </svg>
                      <h3 class="card-title fs-5 mb-3">AI Pitch Deck Slides</h3>
                      <p class="card-text text-secondary">Perfect for startups looking to integrate AI into their product. We’ll create a pitch deck slide addressing how AI is used in your startup. We’ll also build a financial model detailing the upfront and ongoing costs of an AI system.</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100 bg-info border-0 overflow-hidden">
                    <div class="card-body position-relative p-3 p-lg-4">
                      <span class="badge text-secondary">3 hours</span>
                      <svg class="svg-logo mb-3" width="80px" height="80px" viewBox="-1 -1 27 27">
                        <use xlink:href="{{ "assets/images/icons.svg#discovery-workshop" | relative_url }}"></use>
                      </svg>
                      <h3 class="card-title fs-5 mb-3">AI Discovery Workshop</h3>
                      <p class="card-text text-secondary">Get a list of the most promising AI projects for your company to invest in by participating in a hands-on brainstorming session. We’ll also equip you with an in-depth understanding of business use cases for AI.</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100 bg-info border-0 overflow-hidden">
                    <div class="card-body position-relative p-3 p-lg-4">
                      <span class="badge text-secondary">1 week</span>
                      <svg class="svg-logo mb-3" width="80px" height="80px" viewBox="-1 -1 27 27">
                        <use xlink:href="{{ "assets/images/icons.svg#feasibility-study" | relative_url }}"></use>
                      </svg>
                      <h3 class="card-title fs-5 mb-3">AI Feasibility Study</h3>
                      <p class="card-text text-secondary">Acquire everything needed for deciding whether or not to invest in a promising AI idea. We’ll run through an interactive requirements gathering workshop, perform exploratory data analysis on your company data and create a custom AI project plan.</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100 bg-info border-0 overflow-hidden">
                    <div class="card-body position-relative p-3 p-lg-4">
                      <span class="badge text-secondary">2 weeks</span>
                      <svg class="svg-logo mb-3" width="80px" height="80px" viewBox="-1 -1 27 27">
                        <use xlink:href="{{ "assets/images/icons.svg#development-sprints" | relative_url }}"></use>
                      </svg>
                      <h3 class="card-title fs-5 mb-3">AI Development Sprints</h3>
                      <p class="card-text text-secondary">Deploy a world-class team of machine learning engineers to work on your problem in two-week-long development sprints. This is most effective when used in conjunction with an AI project plan.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row row-cols-1 row-cols-md-2 g-3 g-md-4">
                <div class="col">
                  <div class="card h-100 bg-info border-0 overflow-hidden">
                    <div class="card-body position-relative p-3 p-lg-4">
                      <span class="badge text-secondary">2 weeks</span>
                      <svg class="svg-logo mb-3" width="80px" height="80px" viewBox="-1 -1 27 27">
                        <use xlink:href="{{ "assets/images/icons.svg#strategy" | relative_url }}"></use>
                      </svg>
                      <h3 class="card-title fs-5 mb-3">AI Strategy</h3>
                      <p class="card-text text-secondary">The fast-paced nature of the AI landscape demands the development and execution of bold strategies. We can help assess new transformative AI technologies, evaluate acquisition targets that create synergy, and more.</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100 bg-info border-0 overflow-hidden">
                    <div class="card-body position-relative p-3 p-lg-4">
                      <span class="badge text-secondary">2 weeks</span>
                      <svg class="svg-logo mb-3" width="80px" height="80px" viewBox="-1 -1 27 27">
                        <use xlink:href="{{ "assets/images/icons.svg#audit" | relative_url }}"></use>
                      </svg>
                      <h3 class="card-title fs-5 mb-3">AI Audit</h3>
                      <p class="card-text text-secondary">Obtain an independent review of your AI system. Our proprietary AI audit framework consists of controls covering four groups: value, data, model and deployment.</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100 bg-info border-0 overflow-hidden">
                    <div class="card-body position-relative p-3 p-lg-4">
                      <span class="badge text-secondary">2 weeks</span>
                      <svg class="svg-logo mb-3" width="80px" height="80px" viewBox="-1 -1 27 27">
                        <use xlink:href="{{ "assets/images/icons.svg#research" | relative_url }}"></use>
                      </svg>
                      <h3 class="card-title fs-5 mb-3">AI Research</h3>
                      <p class="card-text text-secondary">Utilise our team of multi-disciplinary researchers to embark on scientifically rigorous AI research, anything from a literature review of a promising research area to exploring the use of an alternate loss function.</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100 bg-info border-0 overflow-hidden">
                    <div class="card-body position-relative p-3 p-lg-4">
                      <span class="badge text-secondary">1 day</span>
                      <svg class="svg-logo mb-3" width="80px" height="80px" viewBox="-1 -1 27 27">
                        <use xlink:href="{{ "assets/images/icons.svg#training-workshop" | relative_url }}"></use>
                      </svg>
                      <h3 class="card-title fs-5 mb-3">AI Training Workshops</h3>
                      <p class="card-text text-secondary">Full-day workshops that equip your engineers with hands-on training in the most up-to-date machine learning tools. Workshop topics include Pandas, Featuretools, PyTorch, JAX and MLOps.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="approach">
  <div class="container">
    <div class="row mb-4">
      <div class="col">  
        <h2 class="mb-4">Our Approach</h2>
        <p class="lead"> Our customised approach combines unique business insights with deep technical expertise.</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ol class="process">
          <li class="subprocess">
            <div class="arrow-right"></div>
            <div class="arrow-down"></div>
            <h2>Identify Value</h2>
            <ul>
              <li>Identify sources of value from discovery workshop.</li>
              <li>Gather requirements using proprietary AI Canvas.</li>
              <li>Create AI project plan with project scope and objectives.</li>
            </ul>
          </li>
          <li class="subprocess">
            <div class="arrow-right"></div>
            <div class="arrow-down"></div>
            <h2>Assemble Data</h2>
            <ul>
              <li>Collect additional data or use existing datasets.</li>
              <li>Perform exploratory data analysis on sample data.</li>
              <li>Engineer features with input from subject matter experts.</li>
            </ul>
          </li>
          <li class="subprocess">
            <div class="arrow-right"></div>
            <div class="arrow-down"></div>
            <h2>Build Model</h2>
            <ul>
              <li>Choose machine learning model and evaluation metric.</li>
              <li>Train and evaluate model and tune hyperparameters.</li>
              <li>Improve model fairness, size, explainability and robustness.</li>
            </ul>
          </li>
          <li class="subprocess">
            <div class="arrow-right"></div>
            <div class="arrow-down"></div>
            <h2>Deploy Solution</h2>
            <ul>
              <li>Deploy model and integrate with existing system.</li>
              <li>Set up model monitoring and maintenance workflows.</li>
              <li>Optimise and improve model with real-world feedback.</li>
            </ul>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
<section id="capabilities" class="bg-dark">
  <div class="container">
    <div class="row mb-4">
      <div class="col">
        <h2 class="mb-4">Capabilities</h2>
        <p class="lead">For clients that already have a project in mind, here are examples of Artificial Intelligence solutions that Neural Swarm can build.</p>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-2">
      <div class="col">
        <div class="row">
          <div class="col-logo">
            <svg class="svg-logo" width="64px" height="64px" viewBox="0 0 24 24">
              <use xlink:href="{{ "assets/images/icons.svg#logo" | relative_url }}"></use>
            </svg>
          </div>
          <div class="col ps-0">          
            <span>Anomaly Detection</span>
            <p class="text-secondary">
              Finding outliers that are different from most of the data.
              <br />
              E.g. in a database of financial transactions, outliers may be fraudulent transactions.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col-logo">
            <svg class="svg-logo" width="64px" height="64px" viewBox="0 0 24 24">
              <use xlink:href="{{ "assets/images/icons.svg#logo" | relative_url }}"></use>
            </svg>
          </div>
          <div class="col ps-0">          
            <span>Chatbots</span>
            <p class="text-secondary">
              Text and voice conversations using an automated dialogue system.
              <br />
              E.g. 24/7 customer service addressing a broad range of issues in natural language.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col-logo">
            <svg class="svg-logo" width="64px" height="64px" viewBox="0 0 24 24">
              <use xlink:href="{{ "assets/images/icons.svg#logo" | relative_url }}"></use>
            </svg>
          </div>
          <div class="col ps-0">          
            <span>Content Moderation</span>
            <p class="text-secondary">
              Detecting inappropriate content within images, video and text.
              <br />
              E.g. prevent toxicity in online communities by pro-actively moderating user-generated content.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col-logo">
            <svg class="svg-logo" width="64px" height="64px" viewBox="0 0 24 24">
              <use xlink:href="{{ "assets/images/icons.svg#logo" | relative_url }}"></use>
            </svg>
          </div>
          <div class="col ps-0">          
            <span>Object Classification</span>
            <p class="text-secondary">
              Detecting and labeling instances of objects in images and video.
              <br />
              E.g. identifying defective products on a manufacturing production line using images.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col-logo">
            <svg class="svg-logo" width="64px" height="64px" viewBox="0 0 24 24">
              <use xlink:href="{{ "assets/images/icons.svg#logo" | relative_url }}"></use>
            </svg>
          </div>
          <div class="col ps-0">          
            <span>Recommender Systems</span>
            <p class="text-secondary">
              Producing recommendations that target individual customers.
              <br />
              E.g. identifying recommended products based on preferences of other customers with similar attributes.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col-logo">
            <svg class="svg-logo" width="64px" height="64px" viewBox="0 0 24 24">
              <use xlink:href="{{ "assets/images/icons.svg#logo" | relative_url }}"></use>
            </svg>
          </div>
          <div class="col ps-0">          
            <span>Sentiment Analysis</span>
            <p class="text-secondary">
              Determining whether a view on a subject is positive, negative or neutral.
              <br />
              E.g. monitoring customer brand perception on social media.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col-logo">
            <svg class="svg-logo" width="64px" height="64px" viewBox="0 0 24 24">
              <use xlink:href="{{ "assets/images/icons.svg#logo" | relative_url }}"></use>
            </svg>
          </div>
          <div class="col ps-0">          
            <span>Time Series Forecasting</span>
            <p class="text-secondary">
              Predicting a numerical quantity in the future given historical data points.
              <br />
              E.g. predicting next month’s grocery store sales.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col-logo">
            <svg class="svg-logo" width="64px" height="64px" viewBox="0 0 24 24">
              <use xlink:href="{{ "assets/images/icons.svg#logo" | relative_url }}"></use>
            </svg>
          </div>
          <div class="col ps-0">          
            <span>Translation</span>
            <p class="text-secondary">
              Real-time audio and text translation between languages.
              <br />
              E.g. offer instant translations of user-generated content to reach a global audience.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="work">
  <div class="container">
    <div class="row mb-4">
      <div class="col">
        <h2 class="mb-4">Recent Work</h2>
        <p class="lead">Explore some of our recent projects where we’ve made an outsized impact.</p>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-3 g-md-4">
      <div class="col">
        <div class="card h-100 bg-dark border-0">
          <div class="card-img-top image filter" style="background-image: url('{{ "assets/images/work/horse-racing.jpg" | relative_url }}')"></div>
          <div class="card-body p-3 p-lg-4">
            <h3 class="card-title fs-5 mb-3">Horse Race Betting Model</h3>
            <p class="card-text text-secondary">Collaborated with a Hong Kong betting syndicate to model the win probability of horses in races at Happy Valley and Sha Tin by using Maximum Likelihood Estimation (MLE) to adjust parameters. These win probabilities were extended beyond win bets to place, quinella and quinella place bets.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 bg-dark border-0">
          <div class="card-img-top image filter" style="background-image: url('{{ "assets/images/work/package-delivery.jpg" | relative_url }}')"></div>
          <div class="card-body p-3 p-lg-4">
            <h3 class="card-title fs-5 mb-3">Package Delivery Time Simulation</h3>
            <p class="card-text text-secondary">A simulator was built for an Australian delivery company to assess business model viability. The simulator modelled the distribution of package delivery times in urban areas using uniformly generated point-to-point ETAs and run over different times and days to account for seasonality. The project was deployed as an interactive tool comprising of a delivery time Isochrone overlaid over an urban map.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 bg-dark border-0">
          <div class="card-img-top image filter" style="background-image: url('{{ "assets/images/work/license-plate-recognition.jpg" | relative_url }}')"></div>
          <div class="card-body p-3 p-lg-4">
            <h3 class="card-title fs-5 mb-3">Increasing License Plate Recognition Accuracy</h3>
            <p class="card-text text-secondary">Helped an Australian vendor increase the accuracy of an existing license plate recognition (LPR) system by merging alternate sources of data. The extra sensor data required real-time complex event processing (CEP) and unsupervised learning to extract a clean data stream in order to augment the current system.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 bg-dark border-0">
          <div class="card-img-top image filter" style="background-image: url('{{ "assets/images/work/worker-productivity.jpg" | relative_url }}')"></div>
          <div class="card-body p-3 p-lg-4">
            <h3 class="card-title fs-5 mb-3">Worker Productivity and Wellness</h3>
            <p class="card-text text-secondary">Developed and deployed a series of business intelligence dashboards that monitor factory worker productivity and wellness for a Hong Kong startup with a focus on Corporate Social Responsbility (CSR). A series of reports, metrics and data visualisations were also researched and designed.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="about" class="bg-dark">
  <div class="container">
    <div class="row mb-4">
      <div class="col">
        <h2>About Neural Swarm</h2>
      </div>
    </div>
    <div class="row">
      <div class="col column-text">
        <p>Neural Swarm is an Artificial Intelligence consultancy that uses Machine Learning to unlock business value for a diversified client base, from fast-growing startups to innovative corporations. From our company headquarters in Hong Kong, we work together with global clients to build Artificial Intelligence driven organisations around the world.</p>
        <p>We help clients find areas in their business that can harness the full power of Artificial Intelligence. We’ll work together from idea to deployment, while navigating the risks and challenges unique to Artificial Intelligence. While developing and implementing high-performing Machine Learning models, we place a strong emphasis on producing models that are fair, compact, explainable and robust.</p>
        <p>Neural Swarm was started in 2020 by Timothy Leung, who has extensive experience building machine learning models for improved business decision making and process automation, as well as a strong track record of applying deep learning to structured data. Timothy is a Google-certified Machine Learning Engineer and has experience deploying solutions in Google Cloud and AWS ecosystems.</p>
        <p>Previously, Timothy incubated a company through <em>Entrepreneur First</em>, a startup scheme for UK’s brightest graduates. Timothy holds a Computer Science PhD from <em>Imperial College London</em> and a BSc (Hons.) Computer Science from <em>University College London</em>.</p>
        <p><img class="img-fluid filter" src="{{ "assets/images/headshot.jpg" | relative_url }}" alt="Timothy Leung"/></p>
      </div>
    </div>
  </div>
</section>
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2 class="mb-4">Get in Touch</h2>
        <p>Thank you for your interest in Neural Swarm. Please fill out the form below to enquire about our work and we’ll respond as soon as possible.</p>
        <form class="row g-3 mt-4" action="https://formspree.io/f/mbjwwdkd" method="POST">
          <div class="col-md-6">
            <input type="text" class="form-control" name="firstName" placeholder="First Name" required>
          </div>
          <div class="col-md-6">
            <input type="text" class="form-control" name="lastName" placeholder="Last Name" required>
          </div>
          <div class="col-12">
            <input type="email" class="form-control" name="email" placeholder="Work Email Address" required>
          </div>
          <div class="col-12">
            <input type="text" class="form-control" name="company" placeholder="Company" required>
          </div>
          <div class="col-12">
            <textarea class="form-control" rows="5" name="message" placeholder="Message"></textarea>
          </div>
          <div class="col-12">
            <div class="form-check">
              <input class="form-check-input" id="newsletter_optin" type="checkbox" name="_optin" value="" >
              <label class="form-check-label" for="newsletter_optin">Subscribe to our monthly AI Insights newsletter</label>
            </div>
          </div>
          <div class="col-12">
            <button type="submit" class="btn px-0">
              <span>Send Message &nbsp;</span>
              <svg class="svg-arrow" width="16px" height="16px" viewBox="0 0 28 24">
                <use xlink:href="{{ "assets/images/icons.svg#arrow" | relative_url }}"></use>
              </svg>
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <hr>
        <p>Alternatively, schedule a 30-minute introductory Zoom meeting.</p>
        <p>
          <!-- Calendly link widget begin -->
          <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
          <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
          <a class="calendly-link" href="#" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/neuralswarm/introductory-meeting?hide_landing_page_details=1&hide_gdpr_banner=1'});return false;">
            <span>Schedule Meeting &nbsp;</span> 
            <svg class="svg-arrow" width="16px" height="16px" viewBox="0 0 28 24">
              <use xlink:href="{{ "assets/images/icons.svg#arrow" | relative_url }}"></use>
            </svg>
          </a>
          <!-- Calendly link widget end -->
        </p>
      </div>
    </div>
  </div>
</section>
<section id="newsletter" class="d-lg-none">
  <div class="container">
    <div class="row">
      <div class="col">
        {%- include newsletter.html message="Stay current with our monthly AI Insights newsletter." -%}
      </div>
    </div>
  </div>
</section>