---
layout: default
---

<header id="hero">
  <div id="splash" style="background-image: url('{{ "assets/images/hero.jpg" | relative_url }}'); background-position: top center;"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1 class="mb-4">Building the future with Artificial Intelligence</h1>
        <p class="lead">As Artificial Intelligence makes the leap from theory to application, find out how we can help position your company in an Artificial Intelligence future.</p>
        <p class="lead">
          <a href="#services">
            <span>View Services &nbsp;</span> 
            <svg class="svg-arrow" width="16px" height="16px" viewBox="0 0 28 24">
              <use xlink:href="{{ "assets/images/icons.svg#arrow" | relative_url }}"></use>
            </svg>
          </a>
        </p>
      </div>
    </div>
  </div>
</header>
<section id="services" class="bg-dark">
  <div class="container">
    <div class="row mb-4">
      <div class="col">
        <h2 class="mb-4">Services</h2>
        <p class="lead">We focus on applying Artificial Intelligence to accelerate our clients’ core businesses. Our team brings deep, technical expertise while maintaining a strong business-centric approach: from setting the business context through to a successful adoption within the company.</p>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-3 g-md-4">
      <div class="col">
        <div class="card h-100 bg-info border-0 overflow-hidden">
          <div class="card-body position-relative p-3 p-lg-4">
            <span class="badge text-secondary">2 weeks</span>
            <svg class="svg-logo d-none d-md-block mb-3" width="80px" height="80px" viewBox="-1 -1 27 27">
              <use xlink:href="{{ "assets/images/icons.svg#development-sprints" | relative_url }}"></use>
            </svg>
            <h3 class="card-title fs-5 mb-3">AI Development</h3>
            <p class="card-text text-secondary">Deploy world-class machine learning engineers to work on your AI solution. Use this to build Proof-of-Concept systems or to develop production-ready custom machine learning models.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 bg-info border-0 overflow-hidden">
          <div class="card-body position-relative p-3 p-lg-4">
            <span class="badge text-secondary">2 weeks</span>
            <svg class="svg-logo d-none d-md-block mb-3" width="80px" height="80px" viewBox="-1 -1 27 27">
              <use xlink:href="{{ "assets/images/icons.svg#strategy" | relative_url }}"></use>
            </svg>
            <h3 class="card-title fs-5 mb-3">AI Strategy</h3>
            <p class="card-text text-secondary">The fast-paced nature of the AI landscape demands the development and execution of bold strategies. We help assess new AI technologies, evaluate acquisition targets, plan Cloud repatriations, and more.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 bg-info border-0 overflow-hidden">
          <div class="card-body position-relative p-3 p-lg-4">
            <span class="badge text-secondary">2 weeks</span>
            <svg class="svg-logo d-none d-md-block mb-3" width="80px" height="80px" viewBox="-1 -1 27 27">
              <use xlink:href="{{ "assets/images/icons.svg#audit" | relative_url }}"></use>
            </svg>
            <h3 class="card-title fs-5 mb-3">AI Audit</h3>
            <p class="card-text text-secondary">Obtain an independent review of your existing AI system. Our proprietary AI audit framework consists of 87 controls covering 6 categories: value, data, model, deployment, responsible AI, and software engineering.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 bg-info border-0 overflow-hidden">
          <div class="card-body position-relative p-3 p-lg-4">
            <span class="badge text-secondary">1 day</span>
            <svg class="svg-logo d-none d-md-block mb-3" width="80px" height="80px" viewBox="-1 -1 27 27">
              <use xlink:href="{{ "assets/images/icons.svg#pitch-deck-slides" | relative_url }}"></use>
            </svg>
            <h3 class="card-title fs-5 mb-3">AI Training</h3>
            <p class="card-text text-secondary">Participate in our half-day <em>AI for Executives</em> brainstorm workshop to get a list of the most promising AI projects specific to your company. We’ll also equip you with an in-depth understanding of business use cases for AI.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="approach">
  <div class="container">
    <div class="row mb-4">
      <div class="col">  
        <h2 class="mb-4">Our Approach</h2>
        <p class="lead"> Our customised approach combines unique business insights with deep technical expertise.</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ol class="process">
          <li class="subprocess">
            <div class="arrow-right"></div>
            <div class="arrow-down"></div>
            <h2>Identify Value</h2>
            <ul>
              <li>Identify sources of value from the discovery workshop.</li>
              <li>Gather requirements using proprietary AI Canvas.</li>
              <li>Create an AI project plan with project scope and objectives.</li>
            </ul>
          </li>
          <li class="subprocess">
            <div class="arrow-right"></div>
            <div class="arrow-down"></div>
            <h2>Assemble Data</h2>
            <ul>
              <li>Collect additional data or use existing datasets.</li>
              <li>Perform exploratory data analysis on sample data.</li>
              <li>Engineer features with input from subject matter experts.</li>
            </ul>
          </li>
          <li class="subprocess">
            <div class="arrow-right"></div>
            <div class="arrow-down"></div>
            <h2>Build Model</h2>
            <ul>
              <li>Choose a machine learning model and evaluation metric.</li>
              <li>Train and evaluate model and tune hyperparameters.</li>
              <li>Improve model fairness, size, explainability and robustness.</li>
            </ul>
          </li>
          <li class="subprocess">
            <div class="arrow-right"></div>
            <div class="arrow-down"></div>
            <h2>Deploy Solution</h2>
            <ul>
              <li>Deploy model and integrate with the existing system.</li>
              <li>Set up model monitoring and maintenance workflows.</li>
              <li>Optimise and improve the model with real-world feedback.</li>
            </ul>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
<section id="solutions" class="bg-dark">
  <div class="container">
    <div class="row mb-4">
      <div class="col">
        <h2 class="mb-4">Solutions</h2>
        <p class="lead">For clients that are exploring Artificial Intelligence, here are examples of solutions that Neural Swarm can build, grouped by data type.</p>
      </div>
    </div>
    <div>
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="structured-data-tab" data-bs-toggle="tab" data-bs-target="#structured-data-tab-pane" type="button" role="tab" aria-controls="structured-data-tab-pane" aria-selected="true">Structured Data</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="text-data-tab" data-bs-toggle="tab" data-bs-target="#text-data-tab-pane" type="button" role="tab" aria-controls="text-data-tab-pane" aria-selected="false">Text Data</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="visual-data-tab" data-bs-toggle="tab" data-bs-target="#visual-data-tab-pane" type="button" role="tab" aria-controls="visual-data-tab-pane" aria-selected="false">Images / Video</button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="structured-data-tab-pane" role="tabpanel" aria-labelledby="structured-data-tab" tabindex="0">
          <div class="row row-cols-1 row-cols-md-2 g-2 mt-4">
            
            <div class="col">
              <div class="row">
                <div class="col-logo">
                  <svg class="svg-logo" width="64px" height="64px" viewBox="0 0 24 24">
                    <use xlink:href="{{ "assets/images/icons.svg#logo" | relative_url }}"></use>
                  </svg>
                </div>
                <div class="col ps-0">
                  <span>Business Metrics Forecasting</span>
                  <p class="text-secondary">
                    Forecast sales and predict demand using historical time series data.
                    <br />
                    E.g. predict next month’s grocery store sales in order to optimize inventory levels.
                  </p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="row">
                <div class="col-logo">
                  <svg class="svg-logo" width="64px" height="64px" viewBox="0 0 24 24">
                    <use xlink:href="{{ "assets/images/icons.svg#logo" | relative_url }}"></use>
                  </svg>
                </div>
                <div class="col ps-0">
                  <span>Customer Segmentation</span>
                  <p class="text-secondary">
                    Segment customers into groups by distinct characteristics.
                    <br />
                    E.g. optimise marketing efforts by assigning targeted campaigns to different customer segments.
                  </p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="row">
                <div class="col-logo">
                  <svg class="svg-logo" width="64px" height="64px" viewBox="0 0 24 24">
                    <use xlink:href="{{ "assets/images/icons.svg#logo" | relative_url }}"></use>
                  </svg>
                </div>
                <div class="col ps-0">
                  <span>Fraud Detection</span>
                  <p class="text-secondary">
                    Detect fake accounts and fraudulent transactions.
                    <br />
                    E.g. add additional checks for new account registrations that are deemed to be high-risk.
                  </p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="row">
                <div class="col-logo">
                  <svg class="svg-logo" width="64px" height="64px" viewBox="0 0 24 24">
                    <use xlink:href="{{ "assets/images/icons.svg#logo" | relative_url }}"></use>
                  </svg>
                </div>
                <div class="col ps-0">
                  <span>Logistics Optimisation</span>
                  <p class="text-secondary">
                    Solve logistics problems such as vehicle routing, scheduling and bin packing.
                    <br />
                    E.g. find optimal placement of facilities to minimise transportation costs, while avoiding competitor locations.
                  </p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="row">
                <div class="col-logo">
                  <svg class="svg-logo" width="64px" height="64px" viewBox="0 0 24 24">
                    <use xlink:href="{{ "assets/images/icons.svg#logo" | relative_url }}"></use>
                  </svg>
                </div>
                <div class="col ps-0">
                  <span>Predictive Maintenance</span>
                  <p class="text-secondary">
                    Detect abnormal conditions in industrial equipment using sensor data.
                    <br />
                    E.g. reduce unplanned equipment downtime by intelligently scheduling maintenance.
                  </p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="row">
                <div class="col-logo">
                  <svg class="svg-logo" width="64px" height="64px" viewBox="0 0 24 24">
                    <use xlink:href="{{ "assets/images/icons.svg#logo" | relative_url }}"></use>
                  </svg>
                </div>
                <div class="col ps-0">
                  <span>Product Discovery</span>
                  <p class="text-secondary">
                    Personalised product recommendations and product rankings. 
                    <br />
                    E.g. increase sales by recommending targeted products that the customer has never purchased before.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="text-data-tab-pane" role="tabpanel" aria-labelledby="text-data-tab" tabindex="0">
          <div class="row row-cols-1 row-cols-md-2 g-2 mt-4">
            <div class="col">
              <div class="row">
                <div class="col-logo">
                  <svg class="svg-logo" width="64px" height="64px" viewBox="0 0 24 24">
                    <use xlink:href="{{ "assets/images/icons.svg#logo" | relative_url }}"></use>
                  </svg>
                </div>
                <div class="col ps-0">
                  <span>Chatbots and Virtual Agents</span>
                  <p class="text-secondary">
                    Text and voice conversations using an automated dialogue system.
                    <br />
                    E.g. minimise live agent interventions by automating inbound store switchboards.
                  </p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="row">
                <div class="col-logo">
                  <svg class="svg-logo" width="64px" height="64px" viewBox="0 0 24 24">
                    <use xlink:href="{{ "assets/images/icons.svg#logo" | relative_url }}"></use>
                  </svg>
                </div>
                <div class="col ps-0">
                  <span>Copywriting</span>
                  <p class="text-secondary">
                    Generate product descriptions, blog articles and marketing copy.
                    <br />
                    E.g. populate an e-commerce platform with fresh descriptions for every product.
                  </p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="row">
                <div class="col-logo">
                  <svg class="svg-logo" width="64px" height="64px" viewBox="0 0 24 24">
                    <use xlink:href="{{ "assets/images/icons.svg#logo" | relative_url }}"></use>
                  </svg>
                </div>
                <div class="col ps-0">
                  <span>Document Processing</span>
                  <p class="text-secondary">
                    Automate document capture and analysis at scale.
                    <br />
                    E.g. accelerate mortgage applications by automatically processing income and asset documents.
                  </p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="row">
                <div class="col-logo">
                  <svg class="svg-logo" width="64px" height="64px" viewBox="0 0 24 24">
                    <use xlink:href="{{ "assets/images/icons.svg#logo" | relative_url }}"></use>
                  </svg>
                </div>
                <div class="col ps-0">
                  <span>Sentiment Analysis</span>
                  <p class="text-secondary">
                    Determine whether a view on a subject is positive, negative or neutral.
                    <br />
                    E.g. monitor customer brand perception on multiple social media platforms.
                  </p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="row">
                <div class="col-logo">
                  <svg class="svg-logo" width="64px" height="64px" viewBox="0 0 24 24">
                    <use xlink:href="{{ "assets/images/icons.svg#logo" | relative_url }}"></use>
                  </svg>
                </div>
                <div class="col ps-0">
                  <span>Summarisation</span>
                  <p class="text-secondary">
                    Reduce long text passages into single-line summaries.
                    <br />
                    E.g. populate HTML meta description tags with a summary of the page’s content.
                  </p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="row">
                <div class="col-logo">
                  <svg class="svg-logo" width="64px" height="64px" viewBox="0 0 24 24">
                    <use xlink:href="{{ "assets/images/icons.svg#logo" | relative_url }}"></use>
                  </svg>
                </div>
                <div class="col ps-0">
                  <span>Translation</span>
                  <p class="text-secondary">
                    Real-time text and audio translation between languages.
                    <br />
                    E.g. offer instant translations of user-generated content to reach a global audience.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="visual-data-tab-pane" role="tabpanel" aria-labelledby="visual-data-tab" tabindex="0">
          <div class="row row-cols-1 row-cols-md-2 g-2 mt-4">
            <div class="col">
              <div class="row">
                <div class="col-logo">
                  <svg class="svg-logo" width="64px" height="64px" viewBox="0 0 24 24">
                    <use xlink:href="{{ "assets/images/icons.svg#logo" | relative_url }}"></use>
                  </svg>
                </div>
                <div class="col ps-0">
                  <span>Content Moderation</span>
                  <p class="text-secondary">
                    Detect inappropriate content within images and videos.
                    <br />
                    E.g. prevent toxicity in online communities by pro-actively moderating user-generated content.
                  </p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="row">
                <div class="col-logo">
                  <svg class="svg-logo" width="64px" height="64px" viewBox="0 0 24 24">
                    <use xlink:href="{{ "assets/images/icons.svg#logo" | relative_url }}"></use>
                  </svg>
                </div>
                <div class="col ps-0">
                  <span>Contextual Advertising</span>
                  <p class="text-secondary">
                    Insert relevant ads at appropriate locations in videos.
                    <br />
                    E.g. monetise video content through advertising without adversely affecting user experience.
                  </p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="row">
                <div class="col-logo">
                  <svg class="svg-logo" width="64px" height="64px" viewBox="0 0 24 24">
                    <use xlink:href="{{ "assets/images/icons.svg#logo" | relative_url }}"></use>
                  </svg>
                </div>
                <div class="col ps-0">
                  <span>Face Recognition and Detection</span>
                  <p class="text-secondary">
                    Verify identify or control access through facial recognition and detection.
                    <br />
                    E.g. determine if someone is wearing a face mask and whether it covers the nose and the mouth.
                  </p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="row">
                <div class="col-logo">
                  <svg class="svg-logo" width="64px" height="64px" viewBox="0 0 24 24">
                    <use xlink:href="{{ "assets/images/icons.svg#logo" | relative_url }}"></use>
                  </svg>
                </div>
                <div class="col ps-0">
                  <span>Media Library Management</span>
                  <p class="text-secondary">
                    Automatically generate metadata for images and videos.
                    <br />
                    E.g. search a media library by audio track contents, as well as on-screen objects and text.
                  </p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="row">
                <div class="col-logo">
                  <svg class="svg-logo" width="64px" height="64px" viewBox="0 0 24 24">
                    <use xlink:href="{{ "assets/images/icons.svg#logo" | relative_url }}"></use>
                  </svg>
                </div>
                <div class="col ps-0">
                  <span>Quality Control</span>
                  <p class="text-secondary">
                    Identify defects such as misplaced components or cosmetic damage.
                    <br />
                    E.g. improve quality control by detecting damaged components on a production line.
                  </p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="row">
                <div class="col-logo">
                  <svg class="svg-logo" width="64px" height="64px" viewBox="0 0 24 24">
                    <use xlink:href="{{ "assets/images/icons.svg#logo" | relative_url }}"></use>
                  </svg>
                </div>
                <div class="col ps-0">
                  <span>Visual Search</span>
                  <p class="text-secondary">
                    Match user-provided images with images from a product catalog.
                    <br />
                    E.g. improve user experience by allowing users to search a product catalogue with a photo.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<section id="work">
  <div class="container">
    <div class="row mb-4">
      <div class="col">
        <h2 class="mb-4">Recent Work</h2>
        <p class="lead">Explore some of our recent projects where we’ve made an outsized impact.</p>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-3 g-md-4">
      <div class="col">
        <div class="card h-100 bg-dark border-0">
          <div class="card-img-top image filter" style="background-image: url('{{ "assets/images/work/horse-racing.jpg" | relative_url }}')"></div>
          <div class="card-body p-3 p-lg-4">
            <h3 class="card-title fs-5 mb-3">Horse Race Betting Model</h3>
            <p class="card-text text-secondary">Collaborated with a Hong Kong betting syndicate to model the win probability of horses in races at Happy Valley and Sha Tin using Maximum Likelihood Estimation (MLE) to adjust parameters. Extended win probabilities beyond win bets to place, quinella and quinella place bets.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 bg-dark border-0">
          <div class="card-img-top image filter" style="background-image: url('{{ "assets/images/work/package-delivery.jpg" | relative_url }}')"></div>
          <div class="card-body p-3 p-lg-4">
            <h3 class="card-title fs-5 mb-3">Package Delivery Time Simulation</h3>
            <p class="card-text text-secondary">Built a simulator for an Australian delivery company to assess business model viability. The simulator modelled the distribution of package delivery times in urban areas using uniformly generated point-to-point ETAs and ran over different times and days to account for seasonality. Deployed the project as an interactive tool comprising of a delivery time Isochrone overlaid over an urban map.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 bg-dark border-0">
          <div class="card-img-top image filter" style="background-image: url('{{ "assets/images/work/license-plate-recognition.jpg" | relative_url }}')"></div>
          <div class="card-body p-3 p-lg-4">
            <h3 class="card-title fs-5 mb-3">Increasing License Plate Recognition Accuracy</h3>
            <p class="card-text text-secondary">Helped an Australian vendor increase the accuracy of an existing license plate recognition (LPR) system by merging alternate data sources. The extra sensor data required real-time complex event processing (CEP) and unsupervised learning to extract a clean data stream to augment the current system.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 bg-dark border-0">
          <div class="card-img-top image filter" style="background-image: url('{{ "assets/images/work/worker-productivity.jpg" | relative_url }}')"></div>
          <div class="card-body p-3 p-lg-4">
            <h3 class="card-title fs-5 mb-3">Worker Productivity and Wellness</h3>
            <p class="card-text text-secondary">Developed and deployed a series of business intelligence dashboards that monitor factory worker productivity and wellness for a Hong Kong startup focusing on Corporate Social Responsbility (CSR). A series of reports, metrics and data visualisations were also researched and designed.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="about" class="bg-dark">
  <div class="container">
    <div class="row mb-4">
      <div class="col">
        <h2>About Neural Swarm</h2>
      </div>
    </div>
    <div class="row">
      <div class="col column-text">
        <p>Neural Swarm is an Artificial Intelligence consultancy that uses Machine Learning to unlock business value for a diversified client base, from fast-growing startups to innovative corporations. From our company headquarters in Hong Kong, we work with global clients to build Artificial Intelligence driven organisations worldwide.</p>
        <p>We help clients find areas in their business that can harness the full power of Artificial Intelligence. We’ll work together from idea to deployment while navigating the risks and challenges unique to Artificial Intelligence. While developing and implementing high-performing Machine Learning models, we strongly emphasise producing models that are fair, compact, explainable and robust.</p>
        <p>Neural Swarm was started in 2020 by Timothy Leung, who has extensive experience building machine learning models for improved business decision-making and process automation, as well as a strong track record of applying deep learning to structured data. Timothy is a Google-certified Machine Learning Engineer and has experience deploying solutions in Google Cloud and AWS ecosystems.</p>
        <p>Previously, Timothy incubated a company through <em>Entrepreneur First</em>, a startup scheme for UK’s brightest graduates. Timothy holds a Computer Science PhD from <em>Imperial College London</em> and a BSc (Hons.) Computer Science from <em>University College London</em>.</p>
        <p><img class="img-fluid filter" src="{{ "assets/images/headshot.jpg" | relative_url }}" alt="Timothy Leung"/></p>
      </div>
    </div>
  </div>
</section>
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2 class="mb-4">Get in Touch</h2>
        <p>Thank you for your interest in Neural Swarm. Please fill out the form below to enquire about our work, and we’ll respond as soon as possible.</p>
        <form class="row g-3 mt-4" action="https://formspree.io/f/mbjwwdkd" method="POST">
          <div class="col-md-6">
            <input type="text" class="form-control" name="firstName" placeholder="First Name" required>
          </div>
          <div class="col-md-6">
            <input type="text" class="form-control" name="lastName" placeholder="Last Name" required>
          </div>
          <div class="col-12">
            <input type="email" class="form-control" name="email" placeholder="Work Email Address" required>
          </div>
          <div class="col-12">
            <input type="text" class="form-control" name="company" placeholder="Company" required>
          </div>
          <div class="col-12">
            <textarea class="form-control" rows="5" name="message" placeholder="Message"></textarea>
          </div>
          <div class="col-12">
            <div class="form-check">
              <input class="form-check-input" id="newsletter_optin" type="checkbox" name="_optin" value="" >
              <label class="form-check-label" for="newsletter_optin">Subscribe to our monthly AI Insights newsletter</label>
            </div>
          </div>
          <div class="col-12">
            <button type="submit" class="btn px-0">
              <span>Send Message &nbsp;</span>
              <svg class="svg-arrow" width="16px" height="16px" viewBox="0 0 28 24">
                <use xlink:href="{{ "assets/images/icons.svg#arrow" | relative_url }}"></use>
              </svg>
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <hr>
        <p>Alternatively, schedule a free 30-minute introductory Zoom meeting.</p>
        <p>
          <!-- Calendly link widget begin -->
          <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
          <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
          <a class="calendly-link" href="#" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/neuralswarm/introductory-meeting?hide_landing_page_details=1&hide_gdpr_banner=1'});return false;">
            <span>Schedule Meeting &nbsp;</span> 
            <svg class="svg-arrow" width="16px" height="16px" viewBox="0 0 28 24">
              <use xlink:href="{{ "assets/images/icons.svg#arrow" | relative_url }}"></use>
            </svg>
          </a>
          <!-- Calendly link widget end -->
        </p>
      </div>
    </div>
  </div>
</section>
<section id="newsletter" class="d-lg-none">
  <div class="container">
    <div class="row">
      <div class="col">
        {%- include newsletter.html message="Stay current with our monthly AI Insights newsletter." -%}
      </div>
    </div>
  </div>
</section>