---
layout: default
---

<header class="article-header">
  <div id="splash" class="filter" style="background-image: url('{{ page.image | relative_url }}'); background-position: bottom center;"></div>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="display-5 my-3" itemprop="name headline">{{ page.title | escape }}</h1>
        <p class="mb-0">Last updated on <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%-d %b %Y" }}</time></p>
      </div>
    </div>
  </div>
</header>
<section class="py-5">
  <div class="container">
    <div class="row">
      <article itemprop="articleBody">{{ content }}</article>
    </div>
  </div>
</section>
