---
layout: default
---

{%- assign author = site.data.authors[page.author] -%}
{%- assign date_format = "%B %Y" -%}

<header class="article-header">
  <div id="splash" class="filter" style="background-image: url('{{ page.image | relative_url }}')"></div>
  <div class="container">
    <div class="row gx-0 justify-content-center">
      <div class="col-12 col-lg-6">
        <p class="text-uppercase mb-0"><small>{{ page.category }}</small></p>
        <h1 class="display-5 my-3" itemprop="name headline">{{ page.title | escape }}</h1>
        <p>{{ page.description }}</p>
        <p class="d-block d-lg-none"><a href="https://www.linkedin.com/in/{{ author.linkedin }}/">{{ author.name }}</a></p>
        <p class="d-block d-lg-none"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: date_format }}</time></p>
      </div>
    </div>
  </div>
</header>
<section class="py-5 bg-dark">
  <div class="container">
    <div class="row gx-0">
      <div class="d-none d-lg-block col-lg-2">
        <aside class="mt-2 py-4 border-secondary border-top">
          <!-- <p><a href="https://www.linkedin.com/in/{{ author.linkedin }}/"> <img class="img-fluid filter" src="{{ author.picture }}" alt="{{ author.name }}"></a></p> -->
          <p class="text-secondary"><a class="link-secondary" href="https://www.linkedin.com/in/{{ author.linkedin }}/">{{ author.name }}</a></p>
          <p class="text-secondary"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: date_format }}</time></p>
          <p class="text-secondary">{%- include post_read_time.html page=page -%}</p>
          {%- include post_share.html page=page -%}          
        </aside>
        <nav id="toc" class="navbar py-4 sticky-top align-self-start border-secondary border-top border-bottom">
          {% include toc.html html=content class='nav' item_class='nav-item' anchor_class='nav-link link-secondary' %}
        </nav>
      </div>
      <div class="d-none d-lg-block col-lg-1"></div>
      <div class="col-12 col-lg-6">
        <article itemprop="articleBody">
          {{ content }}
          <hr class="my-5">
          {%- include newsletter.html message="Never miss an article with our newsletter." -%}
        </article>
        {%- if site.disqus.shortname -%}
          {%- include disqus_comments.html -%}
        {%- endif -%}
        <a href="{{ page.url | relative_url }}" hidden></a>
      </div>
      <div class="d-none d-lg-block col-lg-3"></div>
    </div>
  </div>
</section>
<section id="blog">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="mb-4">More Articles</h2>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-3 g-md-4">
      {% for post in site.posts %}
        {% if post.url == page.url %}
          {% assign pOffset = forloop.index0 | plus: 1 %}
          {% assign nOffset = forloop.index0 | minus: 1 %}

          {% if forloop.last == false %}
            {% assign previous_post = site.posts[pOffset] %}
            {%- include post_card.html post=previous_post -%}
          {% else %}
            <div class="col">
              <div class="card h-100 bg-dark border-0"></div>
            </div>
          {% endif %}

          {% if forloop.first == false %}
            {% assign next_post = site.posts[nOffset] %}
            {%- include post_card.html post=next_post -%}
          {% else %}
            <div class="col">
              <div class="card h-100 bg-dark border-0"></div>
            </div>
          {% endif %}

          {% break %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>